/* Remoção da estilização padrão aplicada pelo navegador */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

/* Estilização do Header/Cabeçalho */

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .container {
    padding-top: 36px;
    padding-bottom: 40px;
    align-items: baseline;
}

header .container li {
    display: inline;
    padding-left: 24px;
}

header .container li a {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

header .container li a:hover {
    padding: 2px auto;
    border-bottom: 2px solid white;
}

header .container h1 {
    padding: 1px 6px;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
    color: goldenrod;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgb(199, 162, 67);
}

header .container h1:hover {
    color: red;
}

/* Estilização do front */

main .container .first img {
    position: relative;
    left: 300px;
    height: 300px;
    border: 50px 100px;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(0px 0px 10px purple);
}

main .container .first p {
    position: relative;
    left: 190px;
    top: -165px;
    font-size: 30px;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(0px 0px 10px pink);
    font-family: 'Goblin One', cursive;
    font-weight: normal;
}

/* Estilização da linha de quebra */

main .container .division {
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
}

main .container .logo img {
    height: 70px;
    padding-left: 24px;
    padding-right: 24px;
}

main .container .line1 {
    background-color: white;
    height: 1px;
    width: 500px;
}

main .container .line2 {
    background-color: white;
    height: 1px;
    width: 500px;
}

/* Estilização do conteúdo principal */

body {
    background-image: url(./media/gradient.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main .container #panamera,
main .container #cayman,
main .container #spyder,
main .container #macan {
    display: flex;
    padding-bottom: 50px;
    padding-top: 70px;
}

main .container #panamera article h2 {
    color: whitesmoke
}

main .container #cayman article h2 {
    color: rgb(177, 175, 175)
}

main .container #spyder article h2 {
    color: white;
}

main .container #macan article h2 {
    color: red;
}

main .container #panamera article h2,
main .container #cayman article h2,
main .container #spyder article h2,
main .container #macan article h2 {
    font-family: 'Goblin One', cursive;
    font-weight: bold;
    padding-bottom: 12px;
}

main .container #panamera article p,
main .container #cayman article p,
main .container #spyder article p,
main .container #macan article p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: antiquewhite;
    padding-bottom: 24px;
}

main .container #panamera article h3,
main .container #cayman article h3,
main .container #spyder article h3,
main .container #macan article h3 {
    color: green;
    padding-top: 24px;
    padding-bottom: 12px;
    font-weight: bolder;
    font-family: sans-serif;
}

main .container #panamera article button,
main .container #cayman article button,
main .container #spyder article button,
main .container #macan article button {
    height: 35px;
    width: 200px;
    border-radius: 20px;
    background-color: goldenrod;
    border: none;
    cursor: pointer;
}

main .container #panamera article button a,
main .container #cayman article button a,
main .container #spyder article button a,
main .container #macan article button a {
    text-decoration: none;
    color: black;
}

main .container #panamera article button:hover,
main .container #cayman article button:hover,
main .container #spyder article button:hover,
main .container #macan article button:hover {
    background-color: rgb(248, 207, 103);
}

/* Estilização da seção de produtos */

main .container #products {
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    flex-wrap: wrap;
}

main .container #products article {
    margin-left: 16px;
    background-color: rgba(255, 255, 255, 10%);
    border-radius: 10px;
    height: 350px;
    text-align: center;
    padding: 4px 4px;
    justify-content: baseline;
    margin-bottom: 36px;
    transition: all .55s ease;
    width: 30%;
}

main .container #products article:hover {
    background-color: rgba(255, 255, 255, 5%);
    cursor: pointer;
    width: 310px;
}

main .container #products article img {
    height: 150px;
}

main .container #products article h3 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

main .container #products article p {
    color: orange;
    font-weight: normal;
    padding-bottom: 8px;
}

main .container #products article h4 {
    color: greenyellow;
}

main .container #products article button {
    margin-top: 32px;
    height: 30px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: goldenrod;
    color: black;
    cursor: pointer;
}

main .container #products article button:hover {
    background-color: rgb(248, 207, 103);
    height: 32px;
    width: 125px;
}

/* Configuração da seção de contato */

body .container #contact {
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 64px 24px;
}

body .container #contact article {
    text-align: center;
}

body .container #contact article h3 {
    padding: 16px 4px;
    font-weight: bolder;
    color: goldenrod;
    font-family: 'Finger Paint', cursive;
}

body .container #contact article li {
    list-style-type: none;
    padding-bottom: 8px;
}

body .container #contact article li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding-bottom: 8px;
    transition: all .55s ease;
}

body .container #contact article li a:hover {
    color: gold;
}

body .container #contact article 
.form {
    text-align: start
}

body .container #contact article 
.form input,
.form button,
.form textarea {
    display: block;
    width: 200px;
    margin-bottom: 8px;
    padding: 4px auto;
    font-family: sans-serif
}

body .container #contact article 
.form input {
    height: 32px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid goldenrod;
}

body .container #contact article 
.form textarea {
    border-radius: 10px;
    height: 100px;
    width: 200px;
    padding: 5px 6px;
}

body .container #contact article 
.form button {
    border-radius: 20px;
    height: 30px;
    color: black;
    background-color: goldenrod;
    cursor: pointer;
}

body .container #contact article 
.form button:hover {
    background-color: gold;
}

/* Estilização do footer/rodapé */

footer {
    text-align: center;
    color: gainsboro;
    margin: 24px 50px;
}

/* Estilização do fundo interno */

body .frame {
    background-color: rgba(255, 255, 255, 10%);
    margin: 60px 115px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

/* Estilização da sidebar */

body .sidebar .Panamera {
    height: 50px;
    position: fixed;
    top: 180px;
    left: 10px;
} 

body .sidebar .Cayman {
    height: 50px;
    position: fixed;
    top: 280px;
    left: 10px;
}

body .sidebar .Spyder {
    height: 50px;
    position: fixed;
    top: 380px;
    left: 10px;
}

body .sidebar .Macan {
    height: 50px;
    position: fixed;
    top: 480px;
    left: 10px;
}

body .sidebar .Logo {
    height: 50px;
    position: fixed;
    top: 50px;
    left: 30px;
}

body .sidebar .Gradient {
    height: 1000px;
    width: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(0px 0px 10px black);
} 

body .sidebar .Gradient:hover {
    height: 1000px;
}

body .sidebar img:hover {
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(0px 0px 10px black);
    height: 62px;
    transition: all .55s ease;
}
